/* header styles */


body {
   background-color: black; 
}

/* header style */
.headerBar {
    display: flex;
    background: black;
    justify-content: space-between;
    font-size: 25px;
    color:aqua;
    padding: 25px;
    margin: 20px;
    
}

/* button styles */
button {
    background-color: aqua;
    color:black;
    font-size: 25px;
}
/* banner text style */
.mainText {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 29px;
    color:aqua;

}

.introCard {
    display: flex;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: aqua;
    font-size: 24px;
}

#startButton {
    display: flex;
    margin:auto;
    background-color: aqua;
    padding: 20px;
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

.hide {
    display: none;
}