/* header styles */
*, *::before, *::after {
box-sizing: border-box;
}

/* body style */
body {
  
    background-color: black; 

}
#viewHighscores{
    border-radius: 10px;
}

/* header style */
.headerBar {
    display: flex;
    background: black;
    justify-content: space-between;
    font-size: 25px;
    color:aqua;
    padding: 25px;
    margin: 20px;
    
}

/* button styles */
button {
    background-color: aqua;
    color:black;
    font-size: 25px;
}
/* Hover styles  */
#startButton:hover {
    border-radius: 10px;
    outline-style:dashed;
    color: limegreen;
    
}

#viewHighscores:hover {
    outline-style: dashed;
    color: limegreen;
}

#saveInfoButton:hover {
    border-radius: 12px;
    outline-style: dashed;
    color: limegreen;
}

/* multiple choice option styles */
.buttons {
    background-color: black;
    color: aqua;
    border: 3px solid black;
    border-radius: 3px;
    padding: 10px;
    outline-style:inset;
}
/* hover stlyes */
.buttons:hover {
    border-radius: 10px;
    outline-style:dashed;
    color:chartreuse;
    
}

/* banner text style */
.mainText {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 29px;
    color:aqua;

}
/* first card/intro style */
.introCard {
    display: flex;
    justify-content:center;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: aqua;
    font-size: 24px;
    margin:auto;
}

/* start button style */
#startButton {
    display: flex;
    margin:auto;
    background-color: aqua;
    padding: 20px;
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

/* hide element class */
.hide {
    display: none;
}

/* background container style */
.container {
   
    margin:auto;
    padding: 18px;
    border-radius: 10px;
    width: 800px;
    max-width: 80%;
    background-color: rgb(23, 190, 190);
    justify-content: center;
    align-content: center;

    
}

#finalContainer {

    margin:auto;
    padding: 25px;
    border-radius:15px;
    width: 900px;
    max-width: 80%;
    background-color:rgb(23, 190, 190);
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
    min-height: 300px;
}

#saveInfoButton{
    display:inline-flex;
    margin: 10px;
    background-color: black;
    color: aqua;
    font-size: 33px;
    border-radius: 5px;
    
    justify-content:center;
    border-style: inset;

}

#userInfo{
    display:flex;
    background-color: black;
    border-radius: 7px;
    justify-content: center;
    color: aqua;
    padding:20px;
    margin: auto;
    border-style:dotted;
    border-color:greenyellow;
    
    
}

#name{
  font-size: 20px;
  height: 25px;  
}
#nameField{
    display:flex;
    padding: 15px;
    justify-content:center;

}

/* button grid stlye */
.buttonGrid { 
    /* orgainizes button choices */
    display:grid;
    gap: 8px;
    margin: 15px 8px;
    
}

#question {
    font-size: 25px;
    font-weight:bolder;
    
}